.container {
    /* max-width: 1597px;  */
    margin: 0 auto;
    padding: 0 162px; 
    margin-bottom: 200px; 
}

@media (max-width: 1440px) {
    .container {
        padding: 0 82px; 
        margin-bottom: 100px;
    }
}

@media (max-width:920px){
    .container {
        padding: 0 16px;
        margin-bottom: 80px;
    }
}