.klothink-experience .header h2 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.klothink-experience .header  {
  color: gray;
  font-size: 0.9rem;
}

.klothink-experience .header p {
  margin-top: 1rem;
  color: #555;
  max-width: 800px;
  line-height: 1.6;
}
.testimonials-content {
  flex-grow: 1;
}
.title-group {
  display: flex;
  flex-direction: row;
  align-items: baseline; 
  gap: 15px;
  margin-bottom: 1rem;
}
.testimonials-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  line-height: 1; 
  color:var(--title-color);
}
.testimonials-subtitle {
  color: #888;
  font-size: 0.9rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
}

/* Grid layout */
.cards {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3,  1fr);
  gap: 20px;
}

/* View All button */
.view-all {
  display: none;
  text-align: center;
  margin-top: 1.5rem;
}
.view-all button {
  background: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.view-all button:hover {
  opacity: 0.9;
}

/* Mobile view */
@media (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr; /* عمود واحد */
  }

  .cards .experience-card:nth-child(n+3) {
    display: none; /* إظهار أول كاردين فقط */
  }

  .view-all {
    display: block; /* زر يظهر بالموبايل */
  }
}
