.section{
    margin-bottom: 200px;
}
.DiscoverFashionHeader{
    padding: 0 162px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .left{
        height: 156px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    .Title{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 7px;

        h1{
            font-weight: var(--fw-semibold);
            font-size: var(--fs-48);
            text-transform: uppercase;
            color: var(--title-color);
        }
        span{
            font-weight: var(--fw-semibold);
            font-size: var(--fs-18);
            text-transform: uppercase;
            color: var(--smallTitle1-color);

        }

    }
p{
width: 56.6666vw;
font-weight: var(--fw-Regular);
font-size: var(--fs-18);
color: var(--text-color);
}
}
button{
    width: 208px;
    height: 63px;
    background-color: var(--yellowBG-color);
    font-weight: var(--fw-semibold);
    font-size: var(--fs-18);
    border-radius: 32px;
    border: none;
    cursor: pointer;
}
}
.Choose{
    padding: 30px 0px;
    margin-left: 162px;
    margin-right: 162px;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: var(--lightGreyBG-color);
    margin-bottom: 80px;


.button-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .categories{
        display: flex;
        gap: 40px;
        button{
        font-weight: var(--fw-Medium);
        font-size: var(--fs-20);
        text-transform: uppercase;
        border: none;
        background-color: var(--white-color);
        color: var(--smallTitle1-color);
        cursor: pointer;
}
button.selected{
    color: var(--title-color);
}
    }
    .sub-categories{
        display: flex;
        gap: 10px;
        button{
            width: 106px;
            height: 55px;
            border: 1px solid var(--lightGreyBG-color);
            border-radius: 32px;
            background-color: var(--white-color);
            font-weight: var(--fw-SemiBold);
            font-size: var(--fs-18);
            color: var(--subtitle-color);
            cursor: pointer;
    }
    button.select{
        border: none;
        background-color: var(--subtitle-color);
        color: var(--white-color);
    }

}
}}

/* Laptop */
@media (max-width: 1440px) {
    .DiscoverFashionHeader{
    padding: 0 80px;
    margin-bottom: 60px;
    .left{
        height: 120px;
    .Title{
        gap: 4px;

        h1{
            
            font-size: var(--fs-38);
        }
        span{
            font-size: var(--fs-14);
        }

    }
p{
width: 56.6666vw;
font-size: var(--fs-16);
}
}
button{
    width: 155px;
    height: 49px;
    font-size: var(--fs-14);

}
}
.Choose{
    margin-bottom: 60px;
    padding: 24px 0px;
    margin-left: 80px;
    margin-right: 80px;
.button-group{

    .categories{
        gap: 32px;
        button{
        font-size: var(--fs-16);
        
}
    }
    .sub-categories{
        gap: 8px;
        button{
            width: 86px;
            height: 45px;
            font-size: var(--fs-14);
    }

}
}}

}

/* phone */
@media (max-width: 920px) {
.DiscoverFashionHeader{
    padding: 0 16px;
    margin-bottom: 40px;
    flex-direction: column;
    align-items: flex-start;
    .left{
        width: calck(100vw - 32px);
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 16px;
    .Title{
        flex-direction: column-reverse;
        gap: 4px;
        h1{
            font-size: var(--fs-28);
        }
        span{
            font-size: var(--fs-14);
        }
    }
p{
width: calc(100vw - 23px);
font-size: var(--fs-14);
}}

button{
    width: 155px;
    height: 49px;
    font-size: var(--fs-14);
    margin-top: 20px;
}}


.Choose{
    padding: 20px 0px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 40px;
.button-group{
    flex-direction: column;
    .categories{
        justify-content: space-between;
        gap: 0px;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--lightGreyBG-color);
        margin-bottom: 20px;
        overflow: hidden;
        button{
        font-size: var(--fs-16);
        padding-right: 16px;
        border-right: 1px solid var(--lightGreyBG-color);
}
    }
    .sub-categories{
        gap: 8px;
        button{
            width: 29.23vw;
            height: 45px;
            font-size: var(--fs-14);
    }

}
}}


}