.hero-product-display {
    position: relative;
    width: 100%;
    border-radius: 20px;
    /*background-color: var(--greyBG-color);
    */display: grid;
    grid-template-areas: "product-area";
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.swiper-container {
    width: 100%;
}
.swiper-slide {
    width: 100%  !important; 
    flex-shrink: 0;
}
.product-image-wrapper {
    position: relative;
    grid-area: product-area; 
}
.product-tags-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10; 
    pointer-events: none;
}
.tag-with-arrow {
    position: absolute; 
    pointer-events: auto;
    display: flex;
}
.tag-text-best{
    background-color: var(--white-color);
    border-radius: 32px;
    padding: 8px 14px;
    font-size: var(--fs-body);
    font-weight: var(--fw-medium);
    line-height: 1.5;
    gap: 4px;
    color: var(--subtitle-color);
    white-space: nowrap;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
}
.tag-text{
    background-color: var(--white-color);
    border-radius: 100px;
    padding: 6px 12px;
    font-size: var(--fs-body);
    font-weight: var(--fw-medium);
    line-height: 1.5;
    gap: 6px;
    color: var(--subtitle-color);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.casual-jacket .tag-text {
    /* width: 129px; */
    white-space: nowrap;
}
.full-sleeve .tag-text {
    /* width: 104px; */
    white-space: nowrap;
}
.best-seller {
    top: 4%; 
    left: 3%;
}
.hoodie {
    align-items: center;
    top: 5%;
    left: 50%;
}
.hoodie .arrow-image {
    margin-bottom: 4px;
    margin-top: 30px;
}
.casual-jacket {
    align-items: center;
    top: 34%;
    left: 1%;

}
.casual-jacket .arrow-image {
    margin-left: 2px;
    margin-top: 25px;
}
.full-sleeve {
    align-items: center;
    top: 64%;
    right: 0%;
    left: auto; 
}
.full-sleeve .arrow-image {
    margin-right: 2px;
    margin-top: 13px;
}
.product-slider-container {
    grid-area: product-area;
    position: relative;
    z-index: 1; 
}
.product-slider-container .slider-img {
    width: 100%;  
    aspect-ratio: 1 / 1.3; 
    object-fit: cover; 
    object-position: center; 
    max-width: 100%;
    height: auto;
    display: block;
    /* max-height: 749px; */
    min-height: 69.3518vh;
}
.custom-swiper-button-next,
.custom-swiper-button-prev {
    position: absolute;
    top: 20px;
    transform: translateY(0);
    width: 46px;
    height: 46px;
    background-color: var(--white-color);
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.custom-swiper-button-prev {
    right: calc(10% + 10px);
    left: auto; 
}
.custom-swiper-button-next {
    right: 0%;
}
.custom-swiper-button-next:active,
.custom-swiper-button-prev:active {
    background-color: var(--subtitle-color);
}
.custom-swiper-button-next:active img,
.custom-swiper-button-prev:active img {
    filter: brightness(3);
}
.custom-swiper-button-next img,
.custom-swiper-button-prev img {
    filter: brightness(0.5);
    width: 24px; 
    height: 24px;
}
.custom-swiper-button-next {
    background-color: var(--subtitle-color);
}
.custom-swiper-button-next img {
    filter: brightness(0) invert(1);
}
.product-options {
    position: absolute;
    bottom: 41px;
    left: 16px;
    right: 16px;
    width: auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 15;
}
.color-options, .size-options {
    display: flex;
    align-items: center;
    background-color: var(--white-color);
    border-radius: 100px;
    padding: 8px  10px  8px  16px;
    opacity: 1;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.color-options{
    gap:2.5px;
}
.size-options {
    gap:1.5px;
}

.color-choices {
    display: flex;
    gap: 4px;
    border: 1px solid var( --lightGreyBG-color);
    border-radius: 100px;
    opacity: 1;
    padding: 6px 7px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.option-label {
    font-size: var(--fs-18);
    font-weight: var(--fw-medium);
    line-height: 1.5;
    color: var(--subtitle-color);
}

.color-box {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.size-choices {
    display: flex;
    gap: 4px;
}

.size-pill {
    color: var(--subtitle-color);
    gap: 4px;
    background-color: var(--greyBG-color);
    border-radius:  32px;
    padding: 9px 4px ;
    font-size:var(--fs-body);
    font-weight:var(--fw-regular);
    cursor: pointer;
    transition: background-color 0.3s ease;
    opacity: 1;
    border: 1px solid var(--lightGreyBG-color);
    line-height: 1.5;
    text-align: center;
    max-width: 48px;
    -webkit-border-radius:  32px;
    -moz-border-radius:  32px;
    -ms-border-radius:  32px;
    -o-border-radius:  32px;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}
.size-pill:hover {
    background-color: var(--subtitle-color);
    color: var(--white-color);
}

.hoodie img , .casual-jacket img{
    width: 15px;
    height: 33px;
}
.full-sleeve img{
    width: 15px;
    height: 18px;

}
.view-similar-button {
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 3px;
    color: var(--subtitle-color);
    background-color: var(--white-color);
    border-radius: 100px;
    font-size:var(--fs-14) ;
    border: none;
    cursor: pointer;
    font-weight: var(--fw-medium);
    padding: 8px  10px  8px  16px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.view-similar-arrow {
    font-size:var(--fs-body);
    color: var(--title-color); 
}
@media  (max-width: 1440px) {    
    .tag-text-best{
        padding: 6px 10px;
        font-size: var(--fs-14);
        width: 91px;
    }
    .tag-text{
        padding: 4px 8px;
        font-size: var(--fs-12);
    }
    .color-options{
        gap: 6px;
    }
    .size-options {
        gap:2px;
    }
    .color-choices {
        gap:2px;
        padding: 4px 5px;
        margin-left: 6px;
    }
    .option-label {
        font-size: var(--fs-14);
    }
    .color-box {
        width: 16px;
        height: 16px;
    }
    .color-options, .size-options {
        padding: 8px 10px 8px 6px; 
    }
    .size-choices {
        flex-grow: 1;
        display: flex;
        gap: 2px;
        margin-left: 8px;
    }
    .size-pill {
        flex-grow: 1;
        max-width: none;
        padding: 8px 0px;
        font-size: var(--fs-12);
        text-align: center;
    }
    .view-similar-button {
        padding: 8px 8px 8px 14px; 
    }

    .casual-jacket .tag-text {
        width: 95px;
    }
    .full-sleeve .tag-text {
        width: 76px;
    }
    .product-options {
        left: 12px;
        right: 12px;
        bottom: 30px; 
        gap: 1.2vw; 
        justify-content: space-between; 
    }
    .color-options, .size-options, .view-similar-button {
        flex-shrink: 1; 
    }
    .custom-swiper-button-next, .custom-swiper-button-prev {
        width: 36px;
        height: 36px;
        top: 2px;
    }
}
/* @media (max-width: 920px) { */
@media (max-width: 1150px) {
    .hero-product-display {
        max-width: 100%;
        height: auto;
        padding: 0;
    }
    .product-tags-container {
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 10;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }
    .color-options,
    .view-similar-button {
        width: auto;
    }
    .product-options {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "size size"
            "color button";
        gap: 10px;
        position: absolute;
        bottom: 16px;
        left: 16px;
        right: 16px;
        margin-bottom: 0; 
        width: auto;

    }
    .color-options { 
        grid-area: color; 
        width: 100%;
        justify-content: center; 
        padding: 8px 10px 8px 16px;

    }
    .view-similar-button { 
        grid-area: button;
        justify-content: center; 
        width: 100%;
        min-width: initial; 
        padding: 8px 8px 8px 14px;
        font-size: var(--fs-14);
    }
    .product-image-wrapper {
        max-width: 357px; 
        margin: 0 auto;   
        width: 100%;     
    }
    .best-seller {
        top: -4%;
        left: -5%;
    }
    .hoodie {
        bottom: 92%;
        left: 40%;
    }
    .full-sleeve {
        top: 37%;
        right: 7%;
    }
    .casual-jacket {
        top: 30%;
        left: -6%;
    }
    .size-options { 
        grid-area: size; 
        width: 100%;
        justify-content: space-between; 
        padding: 8px 10px 8px 16px;
        align-items: center; 
    }
    .size-choices {
        flex-grow: 1;
        display: flex;
        gap: 2px;
        margin-left: 6px;
    }

    .size-pill {
        flex-grow: 1; 
        max-width: none;
        padding: 8px 5px; 
        text-align: center;
    }
}
