.hero-section {
    margin-top: 195px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    min-height: calc(100vh - 119px);
    max-width:1597px ;
    margin: 0 auto;
    /* padding: 0 162px;  */
}

.hero-left-content {
    min-width: 0;                        
    height: 100%;                         
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 1 1 844px;
    max-width: 844px;
    box-sizing: border-box; 
    min-width: 0; 
}

.product-stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    border: 2px solid var( --white-color);
    box-shadow: 0px 0px 0px 8px var(--shadow-color);
    background: var(--greyBG-color);
    border-radius: 12px;
    opacity: 1;
    padding: 20px;
}

.hero-right-content {
    background-color: var(--greyBG-color);
    height: 100%;
    flex: 1 1 673px;
    max-width: 673px;
    box-sizing: border-box; 
    min-width: 0; 
}

@media (max-width: 1440px) {
    .hero-section {
        margin-top: 80px;
        gap: 60px;
        min-height: calc(100vh - 347px);
        padding: 0 82px; 
    }
    .hero-left-content {
        flex: 1 1 80%; 
    }
    .hero-right-content {
          flex: 1 1 auto;
    }
    .product-stats {
        gap: 16px;
        padding: 16px;
    }
}


@media (max-width: 920px) {
    .hero-section { 
        padding: 0 16px;
        flex-direction: column;
        gap: 40px;
        max-height: none; 
        margin-top: 40px;
        /* padding-top: 20px; */

    }
    .hero-left-content {
        height: auto; 
        min-width: 100%;
        max-width: 100%;
        flex: 1 1 100%; 
    }

    .hero-right-content {
        min-width: 100%; 
        max-width: 100%;
        flex: 1 1 100%; 
    }
    .product-stats {
        gap: 10px;
        padding: 10px;
    }
}






