.testimonial-card {
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;

}


.card-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  width: 100%;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.name-rating {
  flex-grow: 1;
}

.name-rating h3 {
  margin: 0;
  font-size: 1.1rem;
}

/*.quote-icon {
  font-size: 3rem;
  color: #ffc107;
  line-height: 1;

  align-self: flex-start;
  margin-left: auto;
  position: relative;
  top: -10px;
  right: -5px;
}*/
.quote-icon {
  width: 60px;   
  height: 60px;
  object-fit: contain;
  margin-left: auto; }

.star-rating {
  color: #ffc107; 

  margin-top: 5px; 
}

.star-filled {
  color: #ffc107;
}

.star-empty {
  color: #e0e0e0;
}

.card-text {
  color: #666;
  font-size: 0.95rem;
  line-height: 1.7;

  margin-top: 10px;
  flex-grow: 1;
}


/* safaa */
.testimonial-card .SN-expandable-text-container {
  flex-grow: 1; 
}

.testimonial-card .SN-expand-toggle-btn {
  background: linear-gradient(to right, transparent, white 25%, white);
}

.star-rating {
  display: inline-flex; 
}

.star {
  position: relative;
  font-size: 1.2rem;
  color: #e0e0e0; 
  display: inline-block;
}

.star.star-filled {
  color: #ffc107;
}

.star.star-half::before {
  content: '\2605'; 
  position: absolute;
  left: 0;
  top: 0;
  width: 50%; 
  overflow: hidden;
  color: #ffc107; 
}