.product-card {
    border-radius: 12px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid var(--lightGreyBG-color);
    background: var(--white-color);
}

.product-card h3 {
    font-size: var(--fs-34);
    font-weight: var(--fw-semibold);
    margin-bottom: 10px;
    text-transform: uppercase;
    color: var(--title-color); 
}

.product-card p {
    font-size: var(--fs-18);
    color: var(--text-color);
    font-weight: var(--fw-regular);
    line-height: 1.5;

}

@media (max-width: 1440px) {

    .product-card {
        padding: 24px;
        gap: 6px;
    }
    .product-card h3 {
        font-size: var(--fs-26);
    }
    .product-card p {
        font-size: var(--fs-body);
    }
}
@media (max-width:920px){
    .product-card {
        padding: 20px;
        gap: 4px;
    }
    .product-card h3 {
        font-size: var(--fs-20);
    }
    .product-card p {
        font-size: var(--fs-14);
    }
}

